doctype html
html
  head
    title Genoverse Instance
    link(rel='stylesheet', type='text/css', href='css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(onload="loadTracks()")
    include ./alert.jade
    a.fork
      img(src='images/cranfield-logo.jpg', alt='Cranfield University')
    .containerCustom
      .head
        h1 Genoverse Instance
          a.btn.btn-default.pull-right(href='/', style='font-size: 17px; text-shadow: 0 0 0;')
            span.glyphicon.glyphicon-home
            |  Home        
      .wrap
        .panel.panel-default
          .panel-heading(style='background: #5F8CB0;')
            #header
             .row
              #inputs
                .col-md-4
                  label(label-default='', for='project-name') Project Name
                  input#project-name-input.form-control(name='name', value=object.name, type='text')
                .col-md-8
                  label(label-default='', for='project-info') Description
                  input#project-info-input.form-control(name='info', value=object.description, type='text')
             span &nbsp
             .row
              .col-md-3
                label(label-default='', for='genomic-species-select')
                  | Genome 
                  .btn-group
                       button#ensembl-button.btn.btn-xs(onclick='setEnsembl()') e!
                       button#genome-choose-button.btn.btn-xs(onclick='setGenomeChoose()')
                          span.glyphicon.glyphicon-list
                       button#genome-upload-button.btn.btn-xs(onclick='setGenomeUpload()')
                          span.glyphicon.glyphicon-file
                if(object.genome.type === "ensembl")
                    #ensembl
                      select#genomic-species-select.form-control(name='species')
                         each species in listSpecies
                           if(species.id === object.genome.name)
                             option(value=species.id, selected) #{species.display_name}
                           else
                             option(value=species.id) #{species.display_name}
                    #filechoose(style='display:none')
                      select#genomic-files-select.form-control(name='genomes')
                        each genome in listGenomes
                           option(value=genome) #{genome}
                    #upload.input-group(style='display:none')
                              label.input-group-btn
                                 span.btn.btn-primary
                                   | Browse… 
                                   input(type='file', style='display: none;', accept=".js", multiple=false)
                              input.form-control(id='upload-input', type='text', readonly='')
                else
                    #ensembl(style='display:none')
                      select#genomic-species-select.form-control(name='species')
                         each species in listSpecies
                           option(value=species.id) #{species.display_name}
                    #filechoose
                      select#genomic-files-select.form-control(name='genomes')
                        each genome in listGenomes
                         if(genome === object.genome.name)
                           option(value=genome, selected) #{genome}
                         else
                           option(value=genome) #{genome}
                    #upload.input-group(style='display:none')
                              label.input-group-btn
                                 span.btn.btn-primary
                                   | Browse… 
                                   input(type='file', style='display: none;', accept=".js", multiple=false)
                              input.form-control(id='upload-input', type='text', readonly='')
              #inputs
                .col-md-3
                  label(label-default='', for='chromosome-input') Chromosome
                  input#chromosome-input.form-control(name='chromosome', value=object.chr, type='text')
                .col-md-3
                  label(label-default='', for='genomic-start-input') Start
                  input#genomic-start-input.form-control(name='start', value=object.start, type='number', min='1')
                .col-md-3
                  label(label-default='', for='genomic-end-input') End
                  input#genomic-end-input.form-control(name='end', value=object.end, type='number', min='1')
          .panel-body
            .row
              .col-md-6
                .panel.panel-default
                  // Default panel contents
                  .panel-heading
                    h2 Plugins
                  // List group
                  ul#plugins.list-group
                      each plugins in object.plugins
                        li.list-group-item(title=plugins.id)
                          | #{plugins.name}
                          .material-switch.pull-right
                            input(id=plugins.id, name=plugins.name, type='checkbox', checked=plugins.checked)
                            label.label-primary(label-default='', for=plugins.id)
                if(object.genome.type === "ensembl")
                    #ensembl-only-tracks.panel.panel-default
                      // Default panel contents
                      .panel-heading
                        h2 Ensembl Tracks
                      // List group
                      ul#ensembl-tracks.list-group
                        li.list-group-item
                          | Ensembl Genes    
                          .material-switch.pull-right
                            input#gene_id(name='gene', type='checkbox', checked=object.tracks[0].checked)
                            label.label-primary(label-default='', for='gene_id')
                        li.list-group-item
                          | Ensembl Sequence   
                          .material-switch.pull-right
                            input#seq_id(name='seq', type='checkbox', checked=object.tracks[1].checked)
                            label.label-primary(label-default='', for='seq_id')
                        li.list-group-item
                          | SNP database   
                          .material-switch.pull-right
                            input#snp_id(name='snp', type='checkbox', checked=object.tracks[2].checked)
                            label.label-primary(label-default='', for='snp_id')
                else
                    #ensembl-only-tracks.panel.panel-default(style='display:none')
                      // Default panel contents
                      .panel-heading
                        h2 Ensembl Tracks
                      // List group
                      ul#ensembl-tracks.list-group
                        li.list-group-item
                          | Ensembl Genes    
                          .material-switch.pull-right
                            input#gene_id(name='gene', type='checkbox', checked=object.tracks[0].checked)
                            label.label-primary(label-default='', for='gene_id')
                        li.list-group-item
                          | Ensembl Sequence   
                          .material-switch.pull-right
                            input#seq_id(name='seq', type='checkbox', checked=object.tracks[1].checked)
                            label.label-primary(label-default='', for='seq_id')
                        li.list-group-item
                          | SNP database   
                          .material-switch.pull-right
                            input#snp_id(name='snp', type='checkbox', checked=object.tracks[2].checked)
                            label.label-primary(label-default='', for='snp_id')
              .col-md-6
                .panel.panel-default
                  // Default panel contents
                  .panel-heading
                    h2
                      | Tracks
                      // List group
                  ul#tracks.list-group
                    li.list-group-item
                      | Scalebar 
                      .material-switch.pull-right
                        input#scalebar_id(name='scalebar', type='checkbox', checked=object.tracks[3].checked)
                        label.label-primary(label-default='', for='scalebar_id')
                    li.list-group-item
                      | Chromosome 
                      .material-switch.pull-right
                        input#chrom_id(name='chromosome', type='checkbox', checked=object.tracks[4].checked)
                        label.label-primary(label-default='', for='chrom_id')
                    li.list-group-item
                      .material-switch.pull-right
                        input#fasta_id(name='fasta', type='checkbox', checked=object.tracks[5].checked)
                        label.label-primary(label-default='', for='fasta_id')
                      a(data-toggle='collapse', href='#collapseFASTA') FASTA sequence 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#fastaModal')
                        span.glyphicon.glyphicon-plus
                      #collapseFASTA.panel-collapse.collapse
                        ul.list-group(id='fastaTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#bed_id(name='bed', type='checkbox', checked=object.tracks[6].checked)
                        label.label-primary(label-default='', for='bed_id')
                      a(data-toggle='collapse', href='#collapseBED') BED Scores 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#bedModal')
                        span.glyphicon.glyphicon-plus
                      #collapseBED.panel-collapse.collapse
                        ul.list-group(id='bedTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#bam_id(name='bam', type='checkbox', checked=object.tracks[7].checked)
                        label.label-primary(label-default='', for='bam_id')
                      a(data-toggle='collapse', href='#collapseBAM') Genomic BAM Transcripts 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#bamModal')
                        span.glyphicon.glyphicon-plus
                      #collapseBAM.panel-collapse.collapse
                        ul.list-group(id='bamTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#bigwig_id(name='bigwig', type='checkbox', checked=object.tracks[8].checked)
                        label.label-primary(label-default='', for='bigwig_id')
                      a(data-toggle='collapse', href='#collapseBIGWIG') BIGWIG Graph 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#bigwigModal')
                        span.glyphicon.glyphicon-plus  
                      #collapseBIGWIG.panel-collapse.collapse
                        ul.list-group(id='bigwigTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#gff_id(name='gff', type='checkbox', checked=object.tracks[9].checked)
                        label.label-primary(label-default='', for='gff_id')
                      a(data-toggle='collapse', href='#collapseGFF') GFF Genes  
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#gffModal')
                        span.glyphicon.glyphicon-plus
                      #collapseGFF.panel-collapse.collapse
                        ul.list-group(id='gffTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#vcf_id(name='vcf', type='checkbox', checked=object.tracks[10].checked)
                        label.label-primary(label-default='', for='vcf_id')
                      a(data-toggle='collapse', href='#collapseVCF') VCF Highlights 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#vcfModal')
                        span.glyphicon.glyphicon-plus
                      #collapseVCF.panel-collapse.collapse
                        ul.list-group(id='vcfTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#snpDensity_id(name='snpDensity', type='checkbox', checked=object.tracks[11].checked)
                        label.label-primary(label-default='', for='snpDensity_id')
                      a(data-toggle='collapse', href='#collapseSNPDensity') SNP Density Graph 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#snpDensityModal')
                        span.glyphicon.glyphicon-plus  
                      #collapseSNPDensity.panel-collapse.collapse
                        ul.list-group(id='snpDensityTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#geneExpression_id(name='geneExpression', type='checkbox', checked=object.tracks[12].checked)
                        label.label-primary(label-default='', for='geneExpression_id')
                      a(data-toggle='collapse', href='#collapseGeneExpression') Gene Expression Graph 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#geneExpressionModal')
                        span.glyphicon.glyphicon-plus  
                      #collapseGeneExpression.panel-collapse.collapse
                        ul.list-group(id='geneExpressionTracks')
                    li.list-group-item
                      .material-switch.pull-right
                        input#custom_id(name='custom', type='checkbox', checked=object.tracks[13].checked)
                        label.label-primary(label-default='', for='custom_id')
                      a(data-toggle='collapse', href='#collapseCUSTOM') Custom Track 
                      button.btn.btn-info.btn-xs(type='button', data-toggle='modal', data-target='#customTrackModal')
                        span.glyphicon.glyphicon-plus  
                      #collapseCUSTOM.panel-collapse.collapse
                        ul.list-group(id='customTracks')
            .text-center
              button.btn.btn-primary.btn-lg(type='button', style='background: #5F8CB0', onclick='validate(true)') Submit
              
            script(type="text/javascript", src="javascript/lib/jquery.js")
            script(type="text/javascript", src="css/bootstrap/js/bootstrap.min.js")              
            script(type='text/javascript', data=object, src='javascript/html/getDataForConfig.js')

    // STARTS fastaModal
    // fasta Modal
    #fastaModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add FASTA file Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='fastaNameInput') Name*
              input#fastaNameInput.form-control(type='text', placeholder='Enter a name for this FASTA track')
            .form-group
              label(for='fastaInfoInput', aria-describedby='infoHelp') Info*
              input#fastaInfoInput.form-control(type='text', placeholder="Enter a short description of your FASTA track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='fastaUrlInput') Url or File Path*
              input#fastaUrlInput.form-control(type='text', placeholder='Enter url or filepath of FASTA file')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addFastaTrack()') Add track
    // END OF fastaModal
    // STARTS bedModal
    // bed Modal
    #bedModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add BED file Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='bedNameInput') Name*
              input#bedNameInput.form-control(type='text', placeholder='Enter a name for this BED track')
            .form-group
              label(for='bedInfoInput', aria-describedby='infoHelp') Info*
              input#bedInfoInput.form-control(type='text', placeholder="Enter a short description of your BED track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='bedUrlInput') Url or ftp File Path*
              input#bedUrlInput.form-control(type='text', placeholder='Enter url or ftp filepath of BED file')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addBedTrack()') Add track
    // END OF bedModal
    // STARTS bamModal
    // bam Modal
    #bamModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add BAM file Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='bamNameInput') Name*
              input#bamNameInput.form-control(type='text', placeholder='Enter a name for this BAM track')
            .form-group
              label(for='bamInfoInput', aria-describedby='infoHelp') Info*
              input#bamInfoInput.form-control(type='text', placeholder="Enter a short description of your BAM track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='bamUrlInput') Url or File Path*
              input#bamUrlInput.form-control(type='text', placeholder='Enter url or filepath of BAM file')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addBamTrack()') Add track
    // END OF bamModal
    // STARTS bigwigModal
    // bigwig Modal
    #bigwigModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add BIGWIG file Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='bigwigNameInput') Name*
              input#bigwigNameInput.form-control(type='text', placeholder='Enter a name for this BIGWIG track')
            .form-group
              label(for='bigwigInfoInput', aria-describedby='infoHelp') Info*
              input#bigwigInfoInput.form-control(type='text', placeholder="Enter a short description of your BIGWIG track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='bigwigUrlInput') Url or File Path*
              input#bigwigUrlInput.form-control(type='text', placeholder='Enter url or filepath of BIGWIG file')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addBigwigTrack()') Add track
    // END OF bigwigModal
    // STARTS gffModal
    // gff Modal
    #gffModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add GFF Gene Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='gffNameInput') Name*
              input#gffNameInput.form-control(type='text', placeholder='Enter a name for this GFF track')
            .form-group
              label(for='gffInfoInput', aria-describedby='infoHelp') Info*
              input#gffInfoInput.form-control(type='text', placeholder="Enter a short description of your GFF track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='gffUrlInput') Url or File Path*
              input#gffUrlInput.form-control(type='text', placeholder='Enter url or filepath of GFF, GFF3 or GTF file')
            .form-group
              label(for='gffThresholdInput') Threshold
              input#gffThresholdInput.form-control(type='text', placeholder='Enter threhold for gff track')
            .form-group
              label(for='gffIntronSelect') Intron Style
              .br
                select#gffIntronSelect
                  option(value='bezierCurve') Bezier Curve
                  option(value='hat') Hat
                  option(value='line') Line
            .form-group
              label(for='gffTypeMapText') Type Map
              textarea#gffTypeMapText.form-control(rows='3')
                  | exon: 'exon',
                  | cds: 'cds'
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addGffTrack()') Add track
    // END OF gffModal
    // STARTS vcfModal
    // vcf Modal
    #vcfModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add VCF file Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='vcfNameInput') Name*
              input#vcfNameInput.form-control(type='text', placeholder='Enter a name for this VCF track')
            .form-group
              label(for='vcfInfoInput', aria-describedby='infoHelp') Info*
              input#vcfInfoInput.form-control(type='text', placeholder="Enter a short description of your VCF track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='vcfUrlInput') Url or File Path*
              input#vcfUrlInput.form-control(type='text', placeholder='Enter url or filepath of VCF file')
            .form-group
              label(for='vcfThresholdInput') Threshold
              input#vcfThresholdInput.form-control(type='text', placeholder='Enter the maximum view where you want the track displayed')
            .form-group
              label(for='vcfMaxqualInput') Max Quality
              input#vcfMaxqualInput.form-control(type='text', placeholder='Enter maximum quality for variant highlight colouring')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addVcfTrack()') Add track
    // END OF vcfModal
    // STARTS snpDensityModal
    // snpDensity Modal
    #snpDensityModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add SNP Density Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='snpDensityNameInput') SNP Density Track Name*
              input#snpDensityNameInput.form-control(type='text', placeholder='Enter a name for this SNP density track')
            .form-group
              label(for='snpDenistyInfoInput', aria-describedby='infoHelp') SNP Density Track Info*
              input#snpDensityInfoInput.form-control(type='text', placeholder="Enter a short description of this SNP density track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='snpDensityUrlInput') VCF Url or File Path*
              input#snpDensityUrlInput.form-control(type='text', placeholder='Enter url or filepath of VCF file')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addSnpDensityTrack()') Add track
    // END OF snpDensityModal
    // STARTS geneExpressionModal
    // geneExpression Modal
    #geneExpressionModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add Gene Expression Track
            p  Please, fill the required fields. 
          .modal-body
            .form-group
              label(for='geneExpressionNameInput') Name*
              input#geneExpressionNameInput.form-control(type='text', placeholder='Enter a name for this gene expression track')
            .form-group
              label(for='geneExpressionInfoInput', aria-describedby='infoHelp') Info*
              input#geneExpressionInfoInput.form-control(type='text', placeholder="Enter a short description of your gene expression track's purpose")
              small#infoHelp.form-text.text-muted The description will be used as a hover label in Genoverse
            .form-group
              label(for='geneExpressionRsemUrlInput') RSEM results Url or File Path*
              input#geneExpressionRsemUrlInput.form-control(type='text', placeholder='Enter url or filepath of RSEM results file')
            .form-group
              label(for='geneExpressionGffUrlInput') GFF Url or File Path*
              input#geneExpressionGffUrlInput.form-control(type='text', placeholder='Enter url or filepath of GFF file')
            .modal-footer
            p  All fields marked with an asterisk(*) are mandatory. 
              button.btn.btn-default.pull-right(type='button', onClick='addGeneExpressionTrack()') Add track
    // END OF geneExpressionModal
    // STARTS Add custom track button modal
    #customTrackModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h3.modal-title Add Custom Track
            p  Input custom track properties into the field
            .form-group
              label(for='customNameInput', aria-describedby='nameHelp') Name*
              input#customNameInput.form-control(type='text', placeholder='Enter a name for this custom track')
              small#nameHelp.form-text.text-muted The name should match the name property of the track
            .form-group
              label(for='customInfoInput', aria-describedby='infoHelp') Info*
              input#customInfoInput.form-control(type='text', placeholder='Enter a description of this custom track')
              small#infoHelp.form-text.text-muted The info should match the info property of the track
          .modal-body
                textarea#customText.form-control(rows='12')
                  | Genoverse.Track.extend ({
                  | id:
                  | name:
                  | model:
                  | info:
                  | url:
                  | labels: false
                  | }),
          .modal-footer
            button.btn.btn-default.pull-right(type='button', onClick='addCustomTrack()') Add track
    // END of Add custom track button modal
     